@import "styles/reset.css";
@import "styles/common.css";
@import "font/icomoon.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap');


* {
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    width: 1366px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

/*  slider  */
/* -------------------------------------------------------------------------------------- */

.slider {
    height: 800px;
    background-image: url(images/slider/slider_img_201.jpg);
    padding-left: 98px;
    padding-top: 63px;
    padding-right: 98px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 69px;
}

.navbar__logo {
    width: 185px;
    height: 22px;
    flex-grow: 2;
}

.menu {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8c8c8c;
    display: flex;
    width: 490px;
    justify-content: space-between;
    flex-basis: 490px;
}

.menu__link {
    text-decoration: none;
    color: inherit;
}

.menu__search {
    margin-left: 21px;
    flex-basis: 23px;
}

.menu__button {
    border: none;
    background: none;
}

.menu__list:active {
    border-bottom: 3px solid #212121;
}

.menu__list_current {
    font-weight: 700;
    color: #212121;
}

.slider-content {
    margin-top: 283px;
}

.slider-tag {
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #43a047;
    text-transform: uppercase;
}

.slider-name {
    margin-top: 22px;
    height: 43px;
    font-size: 62px;
    font-weight: 100;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #212121;
    padding-left: 8px;
}

.slider-details {
    margin-top: 34px;
    margin-bottom: 30px;
    height: 38px;
    width: 500px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.slider-content:hover > .hidden-effect {
    visibility: visible;
}

.navigation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 135px;
}

/* featured-product */
/* ------------------------------------------------------------------ */

.featured-product {

    height: 609px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 120px;
}

.featured-product__header {
    display: flex;
    justify-content: space-between;
    height: 49px;
}

.tab-controll {
    display: flex;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;

}

.featured-product-menu {
    display: flex;
    width: 269px;
    justify-content: space-between;
}

.featured-product-menu {
    border-bottom: 1px solid #6c6c6c;
}

.featured-product-menu__list_current {
    color: #212121;
}

.featured-product-menu__list:active {
    border-bottom: 2px solid #212121;
}

.btn-ghost {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    border: none;
    background: none;
}

.featured-product__tab-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.featured-product__tab-content__item {
    position: relative;
}

.featured-product__tab-content__item:hover > .hidden-effect {
    visibility: visible;
}

.tab-content__item_hover {
    position: absolute;
    width: 270px;
    height: 270px;
    opacity: 0.9;
    background-color: #ffffff;
    border: 1.0px solid #9c9c9c;
    padding-right: 31px;
    padding-left: 31px;
    z-index: 1;
}

.item_hover-btn {
    margin-left: 74px;
    margin-top: 59px;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;
}

.item_hover-name {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-top: 13px;
    height: 17px;
}

.item_hover-details {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
    margin-top: 23px;
    height: 33px;
    letter-spacing: -0.01em;
}

/*  promo-product */
/* -------------------------------------------------------------------------------------- */

.promo-product {
    height: 683px;
    display: flex;
}

.promo-content {
    width: 683px;
    padding-left: 46px;
    padding-top: 228px;
}

.promo-content-item_1 {
    background-image: url(images/promo_img1_148.jpg);
}

.promo-content-item_2 {
    background-image: url(images/promo_img_132.jpg);
}

.promo-product-tag {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    height: 13px;
    margin-bottom: 18px;
    padding-left: 5px;
}

.promo-product-name {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    height: 28px;
    margin-bottom: 24px;
    padding-left: 6px;
}

.promo-product-details {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 4px;
    height: 36px;
    width: 374px;
    margin-bottom: 33px;
    letter-spacing: -0.02em;
}

.promo-content:hover > .hidden-effect {
    visibility: visible;
}

/* trending-products */
/* ------------------------------------------------------------------------------------- */

.trending-products {
    height: 1108px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 119px;
    padding-bottom: 120px;
}

.trending-products-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.trending-products-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending-products__items {
    height: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/* hot-deals */
/* ----------------------------------------------------------------------------------------------- */

.hot-deals {
    height: 800px;
    background-image: url(images/slider/slider_84.jpg);
    padding-left: 98px;
    padding-top: 287px;
    padding-right: 98px;
}

.hot-deals-tag {
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #e53935;
    text-transform: uppercase;
}

.hot-deals-navigation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 220px;
}

.hot-deals-content:hover > .hidden-effect {
    visibility: visible;
}

/* exclusive-product */
/* ----------------------------------------------------------------------------------------- */

.exclusive-product {
    height: 810px;
    padding: 120px 98px;
}

.exclusive-product-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.exclusive-product__item1 {
    height: 570px;
    width: 570px;
    background-image: url(images/exclusive-product/product_1_lg_66.jpg);
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 26px;
    padding-top: 186px;
}

.exclusive-product__item1:hover > .hidden-effect {
    visibility: visible;
}

.exclusive-product__item1-details {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 4px;
    height: 36px;
    width: 332px;
    margin-bottom: 33px;
    letter-spacing: -0.02em;
}

/*mobile-app  */
/* ----------------------------------------------------------------------------------------------------- */

.mobile-app {
    height: 516px;
    background-image: url(images/mobile-app/back_img_44.jpg);
    padding-top: 125px;
    padding-left: 98px;
}

.mobile-app-tag {
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    height: 13px;
    margin-bottom: 22px;
}

.mobile-app-name {
    width: 407px;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -0.1em;
    height: 116px;
    margin-bottom: 26px;
}

.mobile-app-details {
    font-size: 22px;
    font-weight: 300;
    color: #6c6c6c;
    height: 21px;
    margin-bottom: 33px;
}

/* footer */
/* ----------------------------------------------------------------------------------------------------------- */

.footer {
    height: 384px;
    background-color: #f7f7f7;
    padding: 120px 98px 0px 98px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.info-block-name {
    font-size: 18px;
    height: 13px;
    margin-bottom: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.info-block1-details {
    width: 221px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    letter-spacing: -0.01em;
}

.info-block1-details a {
    text-decoration: none;
    color: #212121;
}

.info-block-links {
    display: flex;
    justify-content: space-between;
    width: 422px;
}

.info-block-links__col1 {
    width: 132px;
}

.info-block-links__col2 {
    width: 187px;
}

.info-block-links a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.info-block3-details {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 370px;
    letter-spacing: -0.01em;
    margin-bottom: 26px;
}

.email-form {
    height: 48px;
    width: 370px;
    background-color: #ffffff;
    border: 1.0px solid #d9dee1;

}

.email-input {
    height: 46px;
    width: 290px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
    margin-left: 19px;
}

.email-send-btn {
    height: 46px;
    width: 46px;
    border: none;
    background-color: #ffffff;
}

.email-send-btn:active {
    border-left: 1.0px solid #d9dee1;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.copyright-p1 {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.copyright-p2 {
    font-size: 28px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.copyright-p2 a {
    color: #6c6c6c;
    text-decoration: none;
}

.copyright-p3 {
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.copyright-p3 a {
    color: #6c6c6c;
    text-decoration: none;
}