@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap');


* {
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    width: 1366px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

/*  slider  */
/* -------------------------------------------------------------------------------------- */

.slider {
    height: 800px;
    background-image: url(images/slider_img_201.jpg);
    padding-left: 98px;
    padding-top: 63px;
    padding-right: 98px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 69px;
}

.navbar__logo {
    width: 185px;
    height: 22px;
    flex-grow: 2;
}

.menu {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8c8c8c;
    display: flex;
    width: 490px;
    justify-content: space-between;
    flex-basis: 490px;
}

.menu__link {
    text-decoration: none;
    color: inherit;
}

.menu__search {
    margin-left: 21px;
    flex-basis: 23px;
}

.menu__button {
    border: none;
    background: none;
}

.menu__list_active {
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-content {
    margin-top: 283px;
}

.slider-tag {
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #43a047;
    text-transform: uppercase;
}

.slider-name {
    margin-top: 22px;
    height: 43px;
    font-size: 62px;
    font-weight: 100;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #212121;
    padding-left: 8px;
}

.slider-details {
    margin-top: 34px;
    height: 38px;
    width: 500px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.slider-btn {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 220px;
    height: 53px;
    background-color: #ffffff;
    border-radius: 22.5px;
}

.navigation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 135px;
}

.navigation-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    background-color: #212121;
    border-radius: 50%;
    margin-left: 10px;
}

.navigation-btn_active {
    width: 40px;
    height: 40px;
    opacity: 1;
    border-radius: 50%;
}

/* featured-product */
/* ------------------------------------------------------------------ */

.featured-product {

    height: 609px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 120px;
}

.featured-product__header {
    display: flex;
    justify-content: space-between;
    height: 49px;
}

.tab-controll {
    display: flex;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;

}

.featured-product-menu {
    display: flex;
    width: 269px;
    justify-content: space-between;
}

.featured-product-menu__list_active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.btn-ghost {

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    border: none;
    background: none;
}

.featured-product__tab-content {
    display: flex;
    justify-content: space-between;
}

.featured-product__tab-content {
    margin-top: 50px;
}

.featured-product__tab-content__item {
    position: relative;
}

.tab-content__item_hover {
    position: absolute;
    width: 270px;
    height: 270px;
    opacity: 0.9;
    background-color: #ffffff;
    border: 1.0px solid #9c9c9c;
    padding-right: 31px;
    padding-left: 31px;
}

.item_hover-btn {
    margin-left: 74px;
    margin-top: 59px;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;
}

.item_hover-name {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-top: 13px;
    height: 17px;
}

.item_hover-details {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
    margin-top: 23px;
    height: 33px;
    letter-spacing: -0.01em;
}

/*  promo-product */
/* -------------------------------------------------------------------------------------- */

.promo-product {
    height: 683px;
    display: flex;
}

.promo-content {
    width: 683px;
    padding-left: 46px;
    padding-top: 228px;
}

.promo-content-item_1 {
    background-image: url(images/promo_img1_148.jpg);
}

.promo-content-item_2 {
    background-image: url(images/promo_img_132.jpg);
}

.promo-product-tag {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    height: 13px;
    margin-bottom: 18px;
    padding-left: 5px;
}

.promo-product-name {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    height: 28px;
    margin-bottom: 24px;
    padding-left: 6px;
}

.promo-product-details {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 4px;
    height: 36px;
    width: 374px;
    margin-bottom: 33px;
    letter-spacing: -0.02em;
}

.promo-product-btn {
    display: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 220px;
    height: 53px;
    background-color: #ffffff;
    border-radius: 22.5px;
}

/* trending-products */
/* ------------------------------------------------------------------------------------- */

.trending-products {
    height: 1108px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 119px;
    padding-bottom: 120px;
}

.trending-products-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.trending-products-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending-products__items {
    height: 770px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}