@import "reset.css";
@import "common.css";


* {
    box-sizing: border-box;
}

/*  slider  */
/* -------------------------------------------------------------------------------------- */

.slider {
    height: 800px;
    background-image: url(../images/slider/slider_img_201.jpg);
    padding-left: 98px;
    padding-top: 373px;
    padding-right: 98px;

}

.slider-content {
    margin-bottom: 135px;
}
.slider-tag {
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #43a047;
    text-transform: uppercase;
}

.slider-name {
    margin-top: 22px;
    height: 43px;
    font-size: 62px;
    font-weight: 100;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #212121;
    padding-left: 8px;
}

.slider-details {
    margin-top: 34px;
    margin-bottom: 30px;
    height: 38px;
    width: 500px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    
}

.slider-content:hover  .hidden-effect {
    visibility: visible;
}



/* featured-product */
/* ------------------------------------------------------------------ */

.featured-product {

    min-height: 609px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 120px;
}

.featured-product__header {
    display: flex;
    justify-content: space-between;
    height: 49px;
}

.tab-control {
    display: flex;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
}

.featured-product-menu {
    display: flex;
    width: 269px;
    justify-content: space-between;
    border-bottom: 1px solid #6c6c6c;
}

.featured-product-menu__list_current {
    color: #212121;
}

.featured-product-menu__list:active {
    border-bottom: 2px solid #212121;
}

.featured-product-menu__link {
    text-decoration: none;
    color: inherit;
}

.featured-product-menu__link:hover {
    color: darkred;
}

.btn-ghost {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    border: none;
    background: none;
}

.btn-ghost:hover {
    color: darkred;
}

.featured-product__tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.featured-product__tab-content__item {
    position: relative;
}

.featured-product__tab-content__item:hover > .hidden-effect {
    visibility: visible;
}

.tab-content__item_hover {
    position: absolute;
    width: 270px;
    height: 270px;
    opacity: 0.9;
    background-color: #ffffff;
    border: 1.0px solid #9c9c9c;
    padding-right: 31px;
    padding-left: 31px;
    z-index: 1;
}

.item_hover-btn {
    display: block;
    text-align: center;
    padding-top: 18px;
    margin-left: 74px;
    margin-top: 59px;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;
}

.item_hover-name {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-top: 13px;
    height: 17px;
}

.item_hover-details {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
    margin-top: 23px;
    height: 33px;
    letter-spacing: -0.01em;
}

/*  promo-product */
/* -------------------------------------------------------------------------------------- */

.promo-product {
    min-height: 683px;
    display: flex;
    flex-wrap: wrap;
}

.promo-content {
    height: 683px;
    width: 683px;
    padding-left: 46px;
    padding-top: 228px;
}

.promo-content-item_1 {
    background-image: url(../images/promo_img1_148.jpg);
}

.promo-content-item_2 {
    background-image: url(../images/promo_img_132.jpg);
}

.promo-product-tag {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    height: 13px;
    margin-bottom: 18px;
    padding-left: 5px;
}

.promo-product-name {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    height: 28px;
    margin-bottom: 24px;
    padding-left: 6px;
}

.promo-product-details {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 4px;
    height: 36px;
    width: 374px;
    margin-bottom: 33px;
    letter-spacing: -0.02em;
}

.promo-content:hover  .hidden-effect {
    visibility: visible;
}

/* trending-products */
/* ------------------------------------------------------------------------------------- */

.trending-products {
    min-height: 1108px;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 119px;
    padding-bottom: 120px;
}

.trending-products-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.trending-products-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending-products__items {
    min-height: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/* hot-deals */
/* ----------------------------------------------------------------------------------------------- */

.hot-deals {
    height: 800px;
    background-image: url(../images/slider/slider_84.jpg);
    padding-left: 98px;
    padding-top: 287px;
    padding-right: 98px;
}

.hot-deals-tag {
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #e53935;
    text-transform: uppercase;
}

.hot-deals-content {
    margin-bottom: 220px;
}

.hot-deals-content:hover  .hidden-effect {
    visibility: visible;
}

/* exclusive-product */
/* ----------------------------------------------------------------------------------------- */

.exclusive-product {
    height: 810px;
    padding: 120px 98px;
}

.exclusive-product-content {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: 570px 30px 270px 30px 270px;
    grid-template-columns: 2fr 1fr 1fr;
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr;
}.exclusive-product-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.exclusive-product-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.exclusive-product-content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.exclusive-product-content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.exclusive-product-content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.exclusive-product__item1 {
    height: 570px;
    width: 570px;
    background-image: url(../images/exclusive-product/product_1_lg_66.jpg);
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 3;
    padding-left: 26px;
    padding-top: 186px;
}

.exclusive-product__item1:hover  .hidden-effect {
    visibility: visible;
}

.exclusive-product__item1-details {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 4px;
    height: 36px;
    width: 332px;
    margin-bottom: 33px;
    letter-spacing: -0.02em;
}

/*mobile-app  */
/* ----------------------------------------------------------------------------------------------------- */

.mobile-app {
    height: 516px;
    background-image: url(../images/mobile-app/back_img_44.jpg);
    padding-top: 125px;
    padding-left: 98px;
}

.mobile-app-tag {
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    height: 13px;
    margin-bottom: 22px;
}

.mobile-app-name {
    width: 407px;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -0.1em;
    height: 116px;
    margin-bottom: 26px;
}

.mobile-app-details {
    font-size: 22px;
    font-weight: 300;
    color: #6c6c6c;
    height: 21px;
    margin-bottom: 33px;
}
